/* variables */
$dark-font: #333;
$light-background: #f8f8f8;
$acc-light-blue: #d9e5ee;
$acc-border: #e4f3fd;
$background-blue: #0892e7;

/* mixins */
@mixin button-reset() {
  cursor: pointer;
  text-align: left;
  border-radius: 2px;
  outline: none;
  border: none;
  width: 100%;
}

/*body*/
body {
  margin: 0;
  background: $background-blue;
}

/*Parent container*/
.container {
  max-width: 740px;
  margin: 25px auto;
  font-family: "Roboto", sans-serif;
  color: $dark-font;
  padding: 0 15px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: $light-background;
  padding: 18px;
  transition: 0.4s;
  font-size: 14px;
  margin-top: 15px;
  @include button-reset();
  &:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 11px;
    float: right;
    margin-left: 5px;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: $acc-light-blue;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: $light-background;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
