/* variables */
$dark-font: #333;
$light-background: #f8f8f8;

/*body*/
body {
  margin: 0;
}
/*Heading*/
.heading {
  overflow: hidden;
  background: #036;
  margin: 0px;
  h3 {
    text-align: center;
    color: #f1f1f1;
  }
}

/*Parent container*/
.container {
  max-width: 740px;
  margin: 25px auto;
  font-family: "Helvetica", "Arial", sans-serif;
  color: $dark-font;
  padding: 0 15px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: $light-background;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-radius: 2px;
  outline: none;
  transition: 0.4s;
  border: 1px solid #ebebeb;
  font-size: 14px;
  margin-top: 15px;
  &:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 11px;
    float: right;
    margin-left: 5px;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #649899;
  color: #f1f1f1;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: #f7f7f7;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
